$darkGray: #333333;
$mediumGray: #666666;
$lightGray: #CCCCCC;
$white: #FFFFFF;
$logoGradient: linear-gradient(
  330deg,
  rgba(172,118,181,1) 0%,
  rgba(69,68,131,1) 32%,
  rgba(127,177,182,1) 61%,
  rgba(128,176,159,1) 85%,
  rgba(109,144,181,1) 100%
);

// Animated gradient effect on text
@mixin gradient-text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradientFade 2s linear infinite;
}

@keyframes gradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

// reset for above effect
@mixin unset-gradient-text($color) {
  background: none;
  color: $color;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  animation: none;
}
