// Breakpoints
$destopWidth: 1025px;
$tabletWidth: 750px;
$mobileWidth: 550px;

// Margins
$desktopHorizontalMargin: 100px;
$desktopVerticalMargin: 10px;
$desktopLogoWidth: 75px;

$tabletHorizontalMargin: 50px;
$tabletVerticalMargin: 10px;
$tabletLogoWidth: 50px;

$mobileHorizontalMargin: 15px;
$mobileVerticalMargin: 10px;
