html {
  height: 100%;
}

body {
  color: $white;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  font-family: 'Nunito Sans', Helvetica, Verdana, Arial, sans-serif;
  font-size: calc(0.75em + 1vmin);
  font-weight: 300;
}

a {
  &:link, &:visited, &:active {
    text-decoration: none;
    color: $lightGray;
  }

  &:hover {
    text-decoration:none;
    @include gradient-text($logoGradient);
    .fa {
      @include gradient-text($logoGradient);
    }
  }
  @media (hover: none) {
    &:hover {
      @include unset-gradient-text($lightGray);
      .fa {
        @include unset-gradient-text($lightGray);
      }
    }
  }
}

h1, h2, h3 {
  font-family: 'Squared Display';
  font-weight: normal;
  color: $white;
}

h1, h2 {
  text-align: center;
  letter-spacing: 5px;
  padding: 0;
}

h4, h5, h6 {
  font-weight: normal;
  color: $lightGray;
}

h1 { font-size: calc(2.25em + 1vmin); }
h2 { font-size: calc(1.875em + 1vmin); }
h3 { font-size: calc(1.5em + 1vmin); }
h4 { font-size: calc(1.125em + 1vmin); }
h5 { font-size: calc(0.875em + 1vmin); }
h6 { font-size: calc(0.75em + 1vmin); }

.container {
  z-index: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.flash {
  position: absolute;
  width: 1000vw;
  animation: marquee_scroll 10s linear;
  @keyframes marquee_scroll {
    0%{ left: 150vw; visibility: visible; }
    100%{ left: -100vw; visibility: visible; }
  };
  visibility: hidden;
}

#scene {
  pointer-events: none;
  height: inherit;
  .link-layer {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    padding-left: 5vh;
  }
  .constellation-link {
    position: absolute;
    margin: 0;
    pointer-events: all;
    // Below are some utility classes to be used for positioning the constellation links.
    // For example, a link with "row-4 right-col-5", will be 30vh from the top
    // and 26vw from the right.
    // 10vh/vw added for padding/margin.
    @for $i from 0 to 15 {
      &.row-#{$i + 1} {
        top: 10vh + (5 * $i);
      }
      &.left-col-#{$i + 1} {
        left: 10vw + (4 * $i);
      }
      &.right-col-#{$i + 1} {
        right: 10vw + (4 * $i);
      }
    }
  }
}

.pace-hidden {
  opacity: 0;
}
