<div id='stars-small' class='layer' data-depth="0.50" >
  <% 100.times.each do |i| %>
    <div class='star'></div>
  <% end %>
</div>
<div id='stars-medium' class='layer' data-depth="0.60">
  <% 50.times.each do |i| %>
    <div class='star'></div>
  <% end %>
</div>
<div id='stars-big' class='layer' data-depth="0.70">
  <% 25.times.each do |i| %>
    <div class='star'></div>
  <% end %>
</div>
