<h1>Welcome to jpalmieri.com</h1>

<h2>There's not much here right now, but you can learn more about me from these sites:</h2>
<ul>
  <li><a href="https://github.com/jpalmieri" target='_blank'>github.com/jpalmieri</a></li>
  <li><a href="https://gitlab.com/jpalmieri" target='_blank'>gitlab.com/jpalmieri</a></li>
  <li><a href="https://www.linkedin.com/in/josephpalmieri/" target='_blank'>Me on LinkedIn</a></li>
  <li><a href="https://stackoverflow.com/users/3376769/jpalmieri" target='_blank'>Me on Stack Overflow</a></li>
</ul>
