<div class='welcome'>
  <div class='index constellation-index'>
    <h3 id="github" class="constellation-link" data-destination='back-layer'>
      <%= link_to 'github', "https://github.com/jpalmieri" %>
    </h3>
    <h3 id="gitlab" class="constellation-link" data-destination='back-layer'>
      <%= link_to 'gitlab', "https://gitlab.com/jpalmieri" %>
    </h3>
    <h3 id="linkedin" class="constellation-link" data-destination='middle-layer'>
      <%= link_to 'linkedin', "https://www.linkedin.com/in/josephpalmieri/" %>
    </h3>
    <h3 id="stack-overflow" class="constellation-link" data-destination='middle-layer'>
      <%= link_to 'stack overflow', "https://stackoverflow.com/users/3376769/jpalmieri" %>
    </h3>
  </div>
</div>
